
.pageContainer {
    overflow: hidden;
    background-color: rgb(247, 200, 166);
    background-image: url('https://img.freepik.com/premium-photo/blur-library-background_882595-4867.jpg');
    background-size: 100%;
    width: 100%;
}

.mainDiv {
    /* width: 90%;
    height: 60%; */
    margin-left: 90px;
    margin-top: 100px;
}

.cardCont {
    padding-left: 50px;
    padding-top: 40px;
}