.user-container{
    overflow: hidden;
    background-color: rgb(247, 200, 166);
    background-image: url('https://img.freepik.com/premium-photo/blur-library-background_882595-4867.jpg');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    width:100%;
}

.btnr:hover{
    border: 10px;
    border-style: groove;
}